:root {
	/* Colors */
  --primary: rgba(145, 135, 183, 1);
  --highlight: rgba(145, 135, 183, 1);
  --white: rgba(255, 255, 255, 1);
  --off-white: rgba(253, 252, 255, 1);
  --grey-1: rgba(244, 244, 244, 1);
  --grey-2: rgba(215, 214, 216, 1);
  --grey-3: rgba(90, 89, 91, 1);
  --grey-4: rgba(65, 64, 66, 1);
  --black: rgba(40, 37, 51, 1);

	/* Typography */
	--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
