{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>

    {{ if .Params.molecule }}
      <div class="pb4">
        <p>This molecule is shown after a user enters it in the admin panel:</p>
        <canvas width="150" height="150" data-smiles="{{.Params.molecule}}"></canvas>
      </div>
    {{ end }}

    {{ if .Params.molecule_list }}
      <div class="pb4">
        <p>These molecules are shown because a Python script defined parameter 'molecule_list':</p>
        {{ range split .Params.molecule_list "." }}
          <canvas width="150" height="150" data-smiles="{{.}}"></canvas>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Params.chart_csv }}
      {{ if .Params.chart_xlabel }}
        {{ if .Params.chart_ylabel }}
          {{ partial "chart_csv" (dict "csv" .Params.chart_csv "xlabel" .Params.chart_xlabel "ylabel" .Params.chart_ylabel "upload_date" .Params.datestring "chartid" "1") }}
        {{ end }}
      {{ end }}
    {{ end }}

  </div>
{{ end }}
